header {
  background-color: var(--secundary-color);
  color: var(--standard-color-1);
  padding: 20px;
  position: fixed;
  width: var(--site-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 400px) and (max-width: 800px) {
  header {
    background-color: red;
  }
}

.logo {
  margin-right: auto;
}

.logo a img {
  width: var(--logo-width);
}

nav {
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a.active {
  background-color: var(--tertiary-color);
  box-shadow: 0 0 5px var(--text-color);
  color: var(--standard-color);
}

nav ul li a:hover {
  transition: 0.5s ease-in;
  color: var(--standard-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 5px var(--text-color);
}

