
table {
  border: solid 1px var(--tertiary-color);
}

table a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
}

table > thead > tr,
table > tfoot > tr {
  background-color: var(--secondary-color);
}

table > thead > tr > th,
table > tfoot > tr > th,
table > tbody > tr > td {
  text-align: left;
  padding: 10px;
}

.tabela-eventos {
background-color: beige
 }

