footer {
  background-color: var(--secundary-color);
  color: var(--standard-color);
  padding: 20px;
  text-align: center;
}
.footer__icon i img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

