footer {

  background-color: var(--secundary-color);
  .footer__icons {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }   
  .footer__icons__icon a img   {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 10px;
  }

  .footer__icons__icon {
    text-align: center;
  }
  section {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .copyright {
    text-align: center; 
  }






}

