:root{
  --primary-color: #0ab285;
  --secundary-color: #0c8e69;
  --tertiary-color: #4f7f6e;
  --standard-color: #000000;
  --standard-color-1: #FFFFFF;
  
  --text-color: var(--standard-color);
  --title-color: #0d513e;

  --site-max-width: 1024px;
  --site-width: 100%;
  
  --logo-width: 60px;

  --footer-icon-width: 40px;
}
